<% if @user.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_with model: @user do |form| %>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <%= form.email_field :email, class: 'input', placeholder: 'dudebro@example.com' %>
    </div>
  </div>

  <div class="field">
    <label class="label">Who is the GOAT in surfing?</label>
    <div class="control">
      <input name="challenge" type="text" class="input" placeholder="It might be Kelly Slater...">
    </div>
  </div>


  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
