<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Welcome to Surfmon!
    </p>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h3 class="is-size-3">What is Surfmon?</h3>
    <p>
      Surfmon is a little like IFTTT (If This Then That) for surfing. I wanted a tool for building my own <strong>custom surf alerts</strong>
      so that I don't have to monitor the charts. If you've thought "I would love an email for the days that the
      swell direction is between A and B degrees, the period is C and the swell height is D" then Surfmon might be for
      you!
    </p>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h3 class="is-size-3">How do I use it?</h3>
    <p>
      Surfmon is built around "alerts" and "conditions". You create an alert for a subregion then build
      out the conditions you want to trigger an email. On Sunday afternoon (6PM PST/7PM PDT), Surfmon will send you an email with a list of
      alerts and the days their conditions are met.
    </p>
    <figure class="image">
      <iframe title="Surfmon Walkthrough" src="https://www.youtube.com/embed/zvkiDv9zaII" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h3 class="is-size-3">What's coming next?</h3>
    <p>I have a few ideas milling around for what's next...</p>
    <ul>
      <li>More sources (these are things like wind, tide, etc)</li>
      <li>Other providers (like MSW, NOAA, others??)</li>
      <li>Picking when you want emails/alerts</li>
      <li>
        Sharing alert configurations with friends via 
        links (teach your friends what conditions are good for your area)
      </li>
      <li>Setting up group alerts for your crew</li>
    </ul>
    <p>
      If you have an idea and I'm not getting to it fast enough, let me know
      at <a href="mailto:support@maxworld.tech">support@maxworld.tech</a>. I'd love to hear from you!
    </p>
  </div>
</section>
