<%= turbo_stream.update 'provider_search_select' do %>
  <% if @options.any? %>
    <%= options_for_select(@options, @options.first[1]) %>
  <% else %>
    <option value="" selected>Search results show here...</option>
  <% end %>
<% end %>
