<h1>Ouch! Surfmon bailed creating your weekly surf alerts</h1>
<p>Hey, friend! Sorry about that! I'll try to figure out why Surfmon bailed for your alerts and get things rolling.</p>
<p>Any questions? Feel free to reach out at <a href="mailto:support@maxworld.tech">support@maxworld.tech</a>.</p>
