<%- title "Surfmon > Alerts > Edit #{@alert.name}" %>

<section class="section" style="max-width: 60vw">
  <div class="container">
    <h2 class="is-size-2">Edit Alert</h2>
    <%= render 'form' %>
  </div>
</section>
