<section class="section is-flex is-justify-content-flex-start" style="max-width: 80vw">
  <div class="container">
    <h2 class="is-size-2">Edit Alert</h2>
    <%= render 'form' %>
  </div>
</section>
