<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
  <% @alerts.each do |alert| %>
    <tr>
      <td><%= alert.name %></td>
      <td><%= alert.spot_id ? alert.spot_id : alert.subregion_id %></td>
      <td><%= alert.condition %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  

