<section class="section">
  <div class="container">
    <div class="notification is-info">
      <p><%= I18n.t('passwordless.sessions.create.email_sent_if_record_found') %></p>
    </div>
  </div>
</section>
